.toast {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.toast-inner {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 4px;
}