<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
          <i class="glyphicon glyphicon-time"></i>
          计划板
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">首页</a></li>
        <li routerLinkActive="active"><a routerLink="/planlist" >计划列表</a></li>
      </ul>
    </div>
  </div>
</nav>